@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Noto+Sans+Anatolian+Hieroglyphs&display=swap');

:root {
    --primary: #40ba9b;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* header */
header {
    border-bottom: 1px solid #dddddd;
}
header>div {
    max-width: 1200px;
    margin: 0 auto;
    height: 72px;
}
header>div h3 a {
    color: var(--primary);
    font-size: 1.75rem;
}
header>div h3 a:hover {
    color: var(--primary)
}
header>div div a {
    color: #677469;
    font-size: 14px;
}
header>div div a:first-child:hover {
    color: #677469;
    border-bottom: 2px solid;
}
header>div div a:last-child {
    color: var(--primary)
}
header>div div a:last-child:hover {
    border-bottom: 2px solid;
}
/* banner */
.banner {
    position: relative;
}
.banner::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #ebefee;
    width: 75vw;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translate(-50vw);
}
.banner>div {
    padding-top: 40px;
    padding-bottom: 60px;
}
.banner .left {
    max-width: 450px;
}
.main-btn {
    background-color: var(--primary);
    border: 0;
    width: 350px;
    padding: 15px 0;
    margin: 0;
}
.banner .right img {
    width: 80%;
    position: relative;
    right: -20%;
}
/* research */
.research .left{
    width: 50%;
}
.research img{
    width: 60%;
}
.research .right{
    width: 50%;
}
.research .content p {
    margin-bottom: 30px;
}
.research .content div {
    width: 75%;
}
.research .content div svg {
    width: 25px;
    color: gray;
}
.research .content div input {
    font-size: 18px;
}
/* connect */
.connect .left {
    width: 47%;
}
.connect .right{
    width: 50%;
}
.connect .right button,
.footer button {
    color: var(--primary);
    border: 1px solid var(--primary);
    margin: 8px 5px;
    background-color: white;
}
.connect .right button:hover {
    background-color: #84b4a846;
}
.connect .right button:active {
    background-color: #40ba9b;
    color: white;
}
/* advance-research */
.advance-research {
    margin: 0 auto;
    border-top: 1px solid #9bb2ac;
}
/* footer */
.footer-container {
    border-bottom: 1px solid #b3b9b9;
}
.footer .footer-container div img{
    width: 25%;
}
.footer ul li {
    list-style: none;
}
.footer ul li a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
}
.footer p:last-child{
    color: gray;
    font-size: 12px;
    align-items: center;
}
.footer ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 24px;
    }
    header>div {
        height: 50px;
        padding: 0 10px;
    }
    header>div h3 a {
        font-size: 16px;
    }
    .banner::before {
        width: 100vw;
    }
    .banner>div {
        padding-top: 0;
        padding-bottom: 2px;
    }
    .banner .left {
        max-width: 100%;
    }
    .main-btn {
        width: 180px;
        padding: 12px 0;
    }
    .banner .right img {
        right: 0%;
        width: 100vw;
        max-height: 400px;
        object-fit: cover;
    }
    /* .research */
    .research .right{
        width: 80%;
    }
    /* connect */
    .connect .left{
        width: 100%;
    }
    .connect .right{
        width: 90%;
    }
    /* footer */
    .footer .footer-container div img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}